{
    "plugins": [
        "@semantic-release/commit-analyzer",
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits",
                "presetConfig": {
                    "types": [
                        {
                            "type": "feat",
                            "section": "Features",
                            "hidden": false
                        },
                        {
                            "type": "fix",
                            "section": "Bug Fixes",
                            "hidden": false
                        },
                        {
                            "type": "perf",
                            "section": "Performance Improvements",
                            "hidden": false
                        },
                        {
                            "type": "revert",
                            "section": "Reverts",
                            "hidden": false
                        },
                        {
                            "type": "docs",
                            "section": "Other Updates",
                            "hidden": false
                        },
                        {
                            "type": "style",
                            "section": "Other Updates",
                            "hidden": false
                        },
                        {
                            "type": "chore",
                            "section": "Other Updates",
                            "hidden": false
                        },
                        {
                            "type": "refactor",
                            "section": "Other Updates",
                            "hidden": false
                        },
                        {
                            "type": "test",
                            "section": "Other Updates",
                            "hidden": false
                        },
                        {
                            "type": "build",
                            "section": "Other Updates",
                            "hidden": false
                        },
                        {
                            "type": "ci",
                            "section": "Other Updates",
                            "hidden": false
                        }
                    ]
                }
            }
        ],
        "@semantic-release/changelog",
        [
            "@semantic-release/npm",
            {
                "pkgRoot": "dist.web"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md",
                    "package.json",
                    "package-lock.json"
                ],
                "message": "chore(release): bump version to ${nextRelease.version}"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    "dist.web.zip"
                ]
            }
        ]
    ],
    "branches": [
        "main"
    ]
}
