name: Semantic Release

on:
    push:
        branches: [main]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: false

permissions:
    contents: read

jobs:
    release:
        if: ${{ !startsWith(github.event.head_commit.message, 'chore(release):') }}
        runs-on: 'ubuntu-latest'

        permissions:
            contents: write
            pull-requests: write

        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
              with:
                  egress-policy: audit

            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
              with:
                  fetch-depth: 0
                  fetch-tags: true
                  persist-credentials: false

            - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
              with:
                  node-version-file: .nvmrc
                  cache: 'npm'

            - name: Install dependencies
              run: |
                  npm ci

            - name: Run Semantic Release
              env:
                  GH_TOKEN: ${{ secrets.RELEASE_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  RELEASE_PROCESS: 'true'
              run: |
                  npm run release:prepare
                  npx semantic-release
